name: MVVM

on:
  push:
    branches: [ CI-CD-2]
  pull_request:
    branches: [ CI-CD-2]

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2
      - name: Build app
        run: ./gradlew assemble
