name: Android Testing MVVM

on: [push]

jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Unit Test
        run: ./gradlew testDebugUnitTest

      - name: Android Test Report
        uses: asadmansr/android-test-report-action@v1.2.0
        if: ${{ always() }}

      - name: Upload XML
        uses: actions/upload-artifact@v4
        with:
          name: xml
          path: ./app/build/test-results/testDebugUnitTest/TEST-com.tutoriales.mvvm.ui.viewmodel.QuoteViewModelTest.xml
